---
import TopBar from '@components/site/TopBar.astro';
import Announcement from '@components/site/Announcement.astro';

interface Props {
  title: string;
}

import '@src/site.css';
import BottomBar from '@components/site/BottomBar.astro';
const { title = 'Bed Brokers' } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content="Welcome to your top discount mattress store in Phoenix, where we offer premium mattresses at rock-bottom prices. With us at Bed Brokers, you don't need a fortune to invest in your sleep. Discover a wide range of discount mattresses that combine luxury and affordability. Shop with us to find the best deals on quality mattresses without breaking the bank."
    />
    <meta
      property='og:image'
      content='https://azbedbrokers.com/bed-brokers-logo.svg'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/bed-brokers-logo.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class='mx-auto'>
      <Announcement />
      <TopBar />
      <slot />
      <BottomBar />
    </div>
  </body>
</html>
